@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@import "../styles/components/BlogOverview.css";
@import "../styles/components/CategoryOverview.css";
@import "../styles/components/BlogDetails.css";
@import "../styles/components/SocialShare.css";
@import "../styles/components/BreadCrumbs.css";


:root {
  --theme-primary-color: #006680;
  --theme-primary-bgcolor: #006680;
  --theme-secondary-color: #264653;
  --theme-secondary-bgcolor: #264653;
  --theme-tertiary-color: #e76f51;
  --theme-tertiary-bgcolor: #e76f51;

  --black: #000;
  --white: #fff;

  --blue: #0052cc;
  --blue-lighter: #e6eefa;
  
  --grey-light: #8e969b;
}

/* Typography */


h1,
.h1 {
  font-size: 2.027em;
  font-weight: 700;
  line-height: 1.2;
}

h2,
.h2 {
  font-size: 1.802em;
}

h3,
.h3 {
  font-size: 1.602em;
}

h4,
.h4 {
  font-size: 1.424em;
}

h5,
.h5 {
  font-size: 1.266em;
}

h6,
.h6 {
  font-size: 1.125em;
}

body,
p,
.p {
  font-size: 1.125em;
  line-height: 1.8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Chakra Petch', sans-serif;
  font-weight: bold;
  line-height: 1.2;
}

html,body {
  font-family: 'Chakra Petch', sans-serif;
  scroll-behavior: smooth;
  font-size: 100%;
  font-weight: normal;
}

.bg-button a {
  font-size: 14px;
  letter-spacing: 1.8px;
  text-transform: capitalize;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: auto;
}

a:hover {
  color: var(--theme-tertiary-color);
}


@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .container {
    max-width: 720px;
  }
}

@media only screen and (max-width: 768px) {

  p {
    font-size: 16px !important;
  }

  ol li, ul li {
    font-size: 14px !important;
  }
}